.quote-text {
  font-size: large;
  font-style: italic;
}

.cls{
	position: fixed;
	top: 0;
	right: 0;
	bottom: 0;
	background-image: url("background.jpg");
	min-width: 100%;
	min-height: 100%;
	-webkit-filter: blur(18px);
	-o-filter: blur(18px);
	filter: blur(18px);
	z-index: -100;
	-webkit-background-size: cover;
	-moz-background-size: cover;
	-ms-background-size: cover;
	-o-background-size: cover;
	background-size: cover;
}

.background {
  width:100%;
  height:100%;
  background: url("background.jpg") no-repeat center center fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  filter: blur(10px);
}

.plan-page {
  height: 100%;
}

.middle-thing {
  position: absolute;
  top: 50%;
  left: 50%;
  margin-right: -50%;
  transform: translate(-50%, -50%);
}